EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
CLOUDFLARE_ACCESS_KEY=
CLOUDFLARE_SECRET_KEY=
CLOUDFLARE_API_KEY_URL=
CLOUDFLARE_TOKEN_VALUE=
CLOUDFLARE_DOMAIN=
R2_BUCKET_NAME=
DATABASE_URL=
DATABASE_PASSWORD=
EXPO_PUBLIC_WORKER_URL=
SUPABASE_JWT_SECRET=